<!--smallpagetab-->
<div id="top_img">
  <span id="arrow"><%= image_tag "arrow.png" %></span>
  <% if !top_page.nil?%>
      <%=raw top_page.content_for(:homepage) %>
  <% end %>
</div>


<!--<section id='body' style="padding-left:0px;padding-right:0px;width: 997px">-->
  <!--<section id="stickpagebody">-->
    <!--<%# for stickypage in sticky_pages %>-->
        <!--<div id="stickpagebody_box" class="fl">-->
          <!--<%#=raw stickypage.content_for(:body) %>-->
          <!--<a href="/<%#=stickypage.url[:path].join('/') %>">-->
            <!--<%#=raw stickypage.content_for(:smallpage) %>-->
          <!--</a>-->
        <!--</div>-->
    <!--<%# end %>-->

  <!--</section>-->
<!--</section>-->

<%= render partial: 'refinery/hometab'%>