<div id="top_img">
  <span id="arrow"><%= image_tag "arrow.png" %></span>
  <%=raw top_page.content_for(:body) %>
</div>
<section id='body' style="padding-left:0px;padding-right:0px;width: 997px">
  <section id="stickpagebody">
    <% for stickypage in sticky_pages %>
        <div id="stickpagebody_box" class="fl">
          <%#=raw stickypage.content_for(:body) %>
          <%=raw stickypage.content_for(:smallpage) %>
        </div>
    <% end %>

  </section>
</section>

<div class="clear"></div>