<section id='title'>
  <% path_map.each do |pathitem| %>
      <%= link_to pathitem.title, pathitem.url %>
      <% if pathitem != path_map.last%>
          >>
      <% end %>
  <% end %>
</section>
<section id='body'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body'>
  <%=raw @page.content_for(:side_body) %>
</section>