<p>
  <%= footer_menu %>
</p>
<hr style="background:#b8b8b8;clear:both">
<p class="copyright fl">© 德国亥姆霍兹联合会北京代表处 2014</p>
<p class="fr">备案序号：<a href="http://www.miibeian.gov.cn/">京ICP备14059403号</a>&nbsp;
  <a href="http://www.helmholtz.cn">京公网安备110105008274号</a> </p>