
<h1 id='logo'>
  <div class="fl">
    <%#= link_to Refinery::Core.site_name, refinery.root_path %>
    <%= image_tag "http://fitark.org:7500/files/8ea2ec99b2c44316a7810a5be6a1afd1.png" ,style:"margin-top:12px;"%>
  </div>
  <!--<div class="fr" style="font-size:12px"><a>english</a></div>-->
</h1>
<%= custommenu.to_html %>