
<h1 id='logo'>
  <div class="fl">
    <%#= link_to Refinery::Core.site_name, refinery.root_path %>
    <a href="/">
    <%= image_tag "helmholtz_logo_main.png" ,style:"margin-top:12px;"%>
    </a>
  </div>
  <div class="fr language" style="font-size:12px"><a href="http://www.helmholtz.de/en/">English</a><a href="http://www.helmholtz.de/ru/o_nas/">Русский</a><a href="http://www.helmholtz.cn/">中文</a></div>
  <div class="fr top_menu" style="font-size:12px"><a>Kontakt</a> | <a>Impresum</a> | <a>Newsletter</a> | <a href="/press/sitemap">Sitemap</a> | <a href="https://helmholtznet.de/_layouts/HNRegistration/Login.aspx?ReturnUrl=%2f_layouts%2fAuthenticate.aspx%3fSource%3d%252F&Source=%2F">HelmholtzNET</a></div>
</h1>
<div id="home_icon"><a href="/"></a></div>
<% cache custommenu do %>
    <%= custommenu.to_html %>
<% end %>