
<h1 id='logo'>
  <div class="fl">
    <%#= link_to Refinery::Core.site_name, refinery.root_path %>
    <a href="/">
    <%= image_tag "helmholtz_logo_main.png" ,style:"margin-top:12px;"%>
    </a>
  </div>
  <!--<div class="fr" style="font-size:12px"><a>english</a></div>-->
</h1>
<%= custommenu.to_html %>