
<h1 id='logo'>
  <div class="fl">
    <%#= link_to Refinery::Core.site_name, refinery.root_path %>
    <a href="/">
    <%= image_tag "helmholtz_logo_main.png" ,style:"margin-top:12px;"%>
    </a>
  </div>
  <% for stickypage in sticky_pages %>
      <% if !stickypage.content_for(:header).nil?%>
          <%= raw stickypage.content_for(:header)%>
          <%end%>
  <% end %>
  </h1>
<div id="home_icon"><a href="/"></a></div>
<%= custommenu %>