
<h1 id='logo'>
  <div class="fl">
    <%#= link_to Refinery::Core.site_name, refinery.root_path %>
    <%= image_tag "helmholtz_logo_main.png" ,style:"margin-top:12px;"%>
  </div>
  <!--<div class="fr" style="font-size:12px"><a>english</a></div>-->
</h1>
<div id="home_icon"><a href="/"></a></div>
<%= custommenu.to_html %>