/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */
.fl{
  float:left;
}
.fr{
  float:right;
}
body {
  background: #DDD;
  font-family: Verdana;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background: url(bg_main.png) repeat-x #e5e5e5; //first_page
  //background: url(bg_main_homepage.png) repeat-x #e5e5e5; //homeppage
}
#home-page{
  background: url(bg_main_homepage.png) repeat-x #e5e5e5; //homeppage
}
#page_container{
  width: 985px;
  margin: 0 auto;
  position: relative;

}
.clear{
  clear:both;
}
#bg{background: #fff;padding-bottom:100px;}
#body, #side_body {
  float: left;
  color: #333;
  background: #fff;
}
#body{
  padding: 15px;
  width:529px;
  margin: 0px;
  overflow: hidden;
  a{
    color:#00589c ;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}
#side_body {
  width: 205px;
  margin-right:15px;
  margin-top:30px;
  overflow: hidden;
  a{
    color:#00589c ;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}
#header{
  width: 985px;
  margin: 0 auto;
  position: relative;
}
#menu{
  background: #fff;
  width: 930px;
  line-height:24px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  height: 43px;
  padding:0 10px 0 45px;
  border-bottom: 3px solid #00477c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#1993d2), color-stop(1,#0085cb));
  background-image: -moz-linear-gradient(top,#1993d2,#0085cb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1993d2', endColorstr='#0085cb', GradientType='0');
  background:linear-gradient(to bottom,#1993d2,#0085cb);
}
#menu ul {
  list-style: none;
  padding: 0px;
  margin-top:5px;
  display:inline-block;
  li {
    float: left;
    margin-right: 10px;
    position: relative;
    ul{
      position: absolute;
      background: #fff;
      padding:5px;
      width: 222px;
      box-shadow: 0px 1px 1px rgba(0,0,0,.6);
      ul {
        display: none;
        background: transparent;
        box-shadow: none;
        li{
          display: none;
          background: transparent;
          box-shadow: none;
        }
      }
    }
    ul li a{
      color:#00589c;
      width: 202px;
      display:block;

    }
    ul li a:hover{
      color:#ffffff;
      background:#00589c;
    }
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: #ffffff;
    }
    &.current a, a:hover {
      background: #fff;
      color: #00589c;
      border-radius: 4px;
    }

  }
}
#menu .sfHover{
  background:#fff;
  border-radius: 4px;
}
#menu ul .sfHover a{
  color:#00589c;
}
#menu .sf-arrows ul .sf-with-ul:after,#menu .sf-arrows .sf-with-ul:after{
  border-top-color: rgba(255,255,255,0);
}

#logo{
  width: 985px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
}

#footer_menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    width: 154px;
    margin: 0 0 30px 10px;
    a {
      display: block;
      text-decoration: none;
      font-weight:bold;
      color: #515151;
      word-break: break-all;
      word-wrap: break-word;
    }
    &.current a, a:hover {
    }
    ul {
      list-style: none;
      padding: 0px;
      li {
        float:none;
        margin: 0;
        a {
          display: block;
          font-weight:normal;
          color: #00589c;
          font-size: 11px;
          background: url(bg_list_item_footer.png) no-repeat left center;
          padding: 0 0 0 13px;
        }
        &.current a, a:hover {
        }
        ul {
          display: none;
          li{
            display: none;
          }
        }
      }
    }
  }
}

#title{
  background: #fff;
  padding: 10px 0px 12px 15px;
  font-size: 12px;
}
#title a{
  text-decoration: none;
}
#title a:hover{
  text-decoration: underline;
}
.copyright{
  color:#515151;
  text-align: center;
  margin: 0px;
}
.copyright a{
  color:#515151;
}
#side_menu ul{
  li{
    ul{
      li{
        display: none;
        &.current {
          display: list-item;
        }
      }
    }
    &.current{
      ul{
        li{
          display: list-item;
        }
      }
    }
  }
}
#home_icon a{
  width: 28px;
  height: 28px;

  position: absolute;
  z-index: 1;
  left: 10px;
  margin-top:8px;
  background: url(icon_home.png) no-repeat;
}
#home_icon a:hover{
  background: url(icon_home_hover.png) no-repeat;
}
#sidemenu{
  box-sizing: border-box;
  width: 205px;
  padding: 18px 0 16px 16px;
  background: #fff;
  font-size: 13px;
  margin-top: 0px;
  ul{
    list-style: none;
    border-top: 1px solid #dcdcdc;
    padding: 0px;
  li a{
    word-break: break-all;
    word-wrap: break-word;
  }
  .current a{
    font-weight:bold;
    color: #000;
  }
    .current ul li a{
      font-weight:normal;
      color:#00589c ;
    }
  }
  li{
    border-bottom: 1px solid #dcdcdc;
    line-height:24px;
    ul{
      list-style: none;
      border-width: 0px;
     .current a{
        font-weight:bold;
        color: #000;
      }
    }

    ul li{
      border-width: 0px;
      margin-left:15px;
    }
    ul li a:hover{
      color: #000;;
    }
    a{
      text-decoration: none;
    }
  }
  a{
    color:#00589c ;
  }
}
.language{
  margin-top:5px;
}
.language a{
  color: #fff;
  font-weight:normal;
  text-decoration: none;
  margin: 0 1px;
   background: #0a8ccf;
  padding:3px 5px 3px 5px ;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  border-radius: 3px;
}
.language a:hover,.top_menu a:hover{
  text-decoration: underline;
}
.top_menu{
  margin-top:5px;
  margin-right:6px;

}
.top_menu a{
  color: #ffffff;
  font-weight:normal;
  text-decoration: none;
  cursor:pointer;
}